<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="WorktogetherDB"
             connectionString="Server=10.192.68.1;Database=worktogether;Uid=worktogether;Pwd=worktogether123;Port=3306;"
             providerName="MySql.Data.MySqlClient"/>
	</connectionStrings>
</configuration>
